<a href="https://colab.research.google.com/github/sarasantosds/analise-base-vendas-independente/blob/main/base_vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel('base-vendas.xlsx')

In [ ]:
df.head()

,Data,Ano,Mês,Vendedor,Cliente,Região,Produto,Valor,FormaPgto
0,2019-01-01,2019,jan,Paulo Lira,Thamires Bastos,Sudeste,Python,450,Cartão de Débito
1,2019-01-01,2019,jan,Paulo Lira,Jessika Mineiro,Centro-Oeste,Excel,500,Cartão de Débito
2,2019-01-02,2019,jan,Diego Amorim,Glenda Jalles,Norte,VBA,600,Cartão de Crédito
3,2019-01-02,2019,jan,Diego Amorim,Eugênio Mattos,Sul,Python,450,Cartão de Débito
4,2019-01-02,2019,jan,Alon Pinheiro,Yasmine Gomes,Norte,VBA,600,Boleto Bancário

# Análise da Base Vendas

### Faturamento Total

Abaixo temos um faturamento total de 1.696.050,00. Após a retirada do faturamento total destrinchei a análise para compreender o resultado.

In [ ]:
fat_total = df['Valor'].sum()
fat_total

np.int64(1696050)

### Faturamento por Região

Entre o período analisado de 2019 à 2021, a região sudeste teve o maior faturamento, o que foi oposto para região sul, sendo esta a região que menos faturou durante esse período.

Abaixo dou continuidade a investigação do faturamento entre as regiões.

In [ ]:
faturamento_regiao = df['Valor'].groupby(df['Região']).sum().sort_values(ascending=False)
faturamento_regiao

Região
Sudeste         483700
Norte           425600
Nordeste        300250
Centro-Oeste    255050
Sul             231450
Name: Valor, dtype: int64

### Faturamento por Produto

O curso de VBA teve um faturamento de 548.400,00 durante o período analisado, precisamos verificar em qual região houve a maior concentração de alunos no curso de VBA, dado que este curso custa R$ 600,00.


Power BI foi o curso com menor faturamento, 275.400 durante o mesmo período, assim como o curso de VBA precisamos analisar a sua concentração regional, dado que o curso de Power BI custa R$ 300,00

In [ ]:
faturamento_curso = df['Valor'].groupby(df['Produto']).sum().sort_values(ascending=False)
faturamento_curso

Produto
VBA         548400
Excel       456000
Python      416250
Power BI    275400
Name: Valor, dtype: int64

### Quantidade de Alunos por Região

A quantidade de alunos na região sudeste justifica o faturamento, contudo ainda não o justifica por completo, precisamos compreender em qual curso houve a maior concentração e realizar uma soma ponderada para termos noção do real impacto deste dado no faturamento final.


O mesmo podemos dizer da região sul, sendo esta a região com menor concentração de alunos em relação as outras regiões, apenas 542 alunos. Precisamos analisar qual curso houve menor concentração e realizar uma soma ponderada para termos noção do impacto deste dado no faturamento final desta região, também podemos analisar o curso com maior concentração nessa região para compreender o alcance financeiro e trabalhar em estratégias para modificar o cenário dessa região.

In [ ]:
df['Cliente'].groupby(df['Região']).count().sort_values(ascending=False)

Região
Sudeste         951
Norte           930
Nordeste        663
Centro-Oeste    583
Sul             542
Name: Cliente, dtype: int64

### Quantidade de Alunos por Curso

Python é o curso com maior concentração de alunos, contudo é VBA que possui o maior faturamento, logo o que fez a diferença foi o preço do curso, enquanto Python custa 450,00, o curso de VBA custa 600,00 o que resulta em uma soma ponderada favorável para este curso.

In [ ]:
df['Cliente'].groupby(df['Produto']).count().sort_values(ascending=False)

Produto
Python      925
Power BI    918
VBA         914
Excel       912
Name: Cliente, dtype: int64

### Quantidade de Aluno por Curso em cada Região

Com a tabela abaixo temos um panorama sobre alunos por curso em cada região, isso nos ajuda a compreender o faturamento de cada região. Se formos ver a região sudeste tem um "boom" no curso de VBA, com 449 alunos a 600,00 cada, o que resulta em um aumento significativo no faturamento final desta região.

Por outro lado o curso de Excel teve menor adesão na região sul, tendo apenas 72 alunos a 500,00 cada. Mesmo que o curso de Power BI seja o curso com maior adesão de alunos nessa região, o preço do curso não agrega no faturamento final.

In [ ]:
pd.crosstab(df['Região'], df['Produto'])

Produto       Excel  Power BI  Python  VBA
Região
Centro-Oeste     91       180     211  101
Nordeste        263       151     173   76
Norte           274       236     228  192
Sudeste         212       148     142  449
Sul              72       203     171   96

### Valor em média de cada curso

Os dados abaixo foram extraídos apenas para sabermos o impacto do valor do curso no faturamento final.

In [ ]:
df['Valor'].groupby(df['Produto']).mean().sort_values(ascending=False)

Produto
VBA         600.0
Excel       500.0
Python      450.0
Power BI    300.0
Name: Valor, dtype: float64

### Faturamento por Vendedor

Esse dado é importante para ações de recompensa e reconhecimento àqueles vendedores que tiveram bons resultados, além de trazer meios de treinamento para qualificar o restante da equipe de vendas para que possam também obter bons resultados.

Como os vendedores é o ínicio para a adesão do curso, servindo como se fosse uma porta de entrada, mantê-la de forma atraente e convidativa pode resultar em mais alunos e consequentemente no aumento do faturamento.

In [ ]:
faturamento_vendedor = df['Valor'].groupby(df['Vendedor']).sum().sort_values(ascending=False)
faturamento_vendedor

Vendedor
Marcus Cavalcanti    306750
Alon Pinheiro        290800
Paulo Lira           285200
Diego Amorim         280050
Gabriel Cajado       270550
João Martins         262700
Name: Valor, dtype: int64

### Faturamento por Ano

Realizar a análise do faturamento anual em vez do faturamento mensal me parece mais importante porque poderíamos posteriormente atualizar a análise a cada dois anos, o que a torna em quadro progressivo em que a história da empresa pode ser contada anualmente.

Contudo pensar em uma análise mensal não estaria errado, poderíamos analisar por trimestre ou semestre por exemplo, mas seria de um ano para o outro.

Quando fazemos a análise anual podemos condensar as informações mais relevantes de cada ano e fazer um comparativo, após isso montar estratégias para os próximos dois anos.

In [ ]:
faturamento_ano = df['Valor'].groupby(df['Ano']).sum().sort_values(ascending=False)
faturamento_ano

Ano
2020    571150
2019    563800
2021    561100
Name: Valor, dtype: int64

### Percentual de Participação por Região

In [ ]:
faturamento_regiao = pd.DataFrame(faturamento_regiao)
faturamento_regiao['Participação (%)'] = (faturamento_regiao['Valor'] / fat_total) * 100
faturamento_regiao

### Percentual de Participação por Curso


O percentual de participação por curso nos fornece a informação do quanto o curso de VBA que teve o maior faturamento participou no faturamento total, essa informação é importante porque revela o real impacto do curso de VBA no faturamento final, mostra o quão decisivo ele foi durante os dois anos analisados.

A mesma a análise aponta para abaixa participação do curso de Power BI durante os dois anos. Como o curso é o mais barato o impacto não é tão sentido, contudo se fosse o mais caro, abaixa adesão poderia resultar em faturamento baixo, apontando talvez para um problema de custeio do curso por parte dos estudantes, seria preciso talvez trabalhar em promoções e desconto, caso não coubesse uma redução do preço do curso devida a manutenção dos equipamentos para realizá-lo.

In [ ]:
faturamento_curso = pd.DataFrame(faturamento_curso)
faturamento_curso['Participação (%)'] = (faturamento_curso['Valor'] / fat_total) * 100
faturamento_curso

### Percentual de Participação por Vendedor

In [ ]:
faturamento_vendedor = pd.DataFrame(faturamento_vendedor)
faturamento_vendedor['Participação (%)'] = (faturamento_vendedor['Valor'] / fat_total) * 100
faturamento_vendedor

### Percentual de Participação por Ano

In [ ]:
faturamento_ano= pd.DataFrame(faturamento_ano)
faturamento_ano['Participação (%)'] = (faturamento_ano['Valor'] / fat_total) * 100
faturamento_ano

### Percentual de Participação por Vendedor e por Ano (Análise)

Em ambos cenários os percentuais foram muito próximos em comparação com as outras variáveis da mesma categoria.

Sobre os vendedores: Gabriel Cajado e João Martins, os quais tiveram menor participação, caberia um treinamento para qualificá-los ainda mais e aumentar o percentual de participação para os próximos dois anos.